<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%; width: 100%;background: antiquewhite;" >
  <mat-card>
    <mat-card-title class="header-content"> <p>Patient-Dietician Confirmation</p></mat-card-title>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button color="primary">I am a Patient</button>
        <button mat-raised-button color="accent">I am a Dietician</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
